body {
  font-family:'Times New Roman', Times, serif
}

.nav {
  background-color: rgb(0, 232, 0);
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
}

.title {
  font-size: 60px;
  color:rgb(0, 232, 0);
}

.nav, .white {
  color: white;
}

.list .pd {
  padding-top: 10px;
  padding-left: 20px;
}

.list .text {
  font-size: 32px;
  color: rgb(58, 216, 255);
}

.img {
  width: 300px;
  height: auto;
  margin-left: 20px;
}

.subtitle {
  font-size: 30px;
  color: rgb(0, 254, 165);
}

p, .list {
  font-size: 20px;
}